@import '../variables';
@import '../mixins';
@import '../fonts';

.about {
  max-width: 610px;
  width: 100%;

  &__wrapper {
    display: grid;
    grid-template-columns: 140px auto;
    grid-gap: 40px 30px;
    position: relative;
    padding: 30px;
    background: $secondBg;
    border-radius: $radius;
  }

  &__avatar {
    position: relative;
    cursor: pointer;

    &:after {
      content: 'Change';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: $transitionDefault;
    }

    &:before {
      content: '';
      position: absolute;
      border-radius: 50%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: $primaryBg;
      opacity: 0;
      transition: $transitionDefault;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
      &:before {
        opacity: .4;
      }
    }
  }

  &__avatar-img {
    width: 140px;
    height: 140px;
    display: block;
  }

  &__bio {
    max-width: 380px;
  }

  &__name {
    @extend %montserrat-medium;
  }

  &__items {
    margin-top: 20px;
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 20px;
    }
  }

  &__item-icon {
    margin-right: 15px;
  }

  &__item-text {
    font-size: 14px;
    line-height: 17.1px;
  }

  &__social-networks {
    position: absolute;
    right: 30px;
    bottom: 20px;
    display: flex;
  }

  &__social-network {
    margin-right: 15px;
    width: 14px;
    height: 14px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__setting-bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__setting-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-column: 1/3;
  }

  &__setting-link {
    max-width: 260px;

    &:nth-child(-n + 2) {
      margin-bottom: 15px;
    }
  }

  &__save-button {
    padding: 8px 20px !important;
  }
}