@import '../variables';
@import '../fonts';

.user {
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__name {
    @extend %montserrat-medium
  }

  &__looking-job {
    font-size: 12px;
    line-height: 14.6px;
    color: $fourthBg;
  }

  &__button {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}