.home-page {
  &__container {
    max-width: 877px;
    padding: 25px 30px 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__post-form {
    margin-top: 55px;
  }

  &__posts {
    margin-top: 55px;

  }

  &__post {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}