@import '../fonts';

.login-page {
  &__container {
    padding: 80px 90px 180px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @extend %montserrat-medium;
    text-align: center;
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 385px;
    width: 100%;
    margin: 0 auto;
  }

  &__input {
    margin-bottom: 15px;
  }

  &__login-button {
    margin-top: 5px;
    align-self: flex-end;
  }

  &__error {
    margin-bottom: 15px;
  }
}