@import 'variables';
@import 'fonts';

* {
  box-sizing: border-box;
}

body {
  background: $primaryBg;
  @extend %montserrat-light;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

button {
  border: none;
  background: none;
  outline: none;
  padding: 0
}

.container {
  max-width: 1200px;
  padding: 0 90px;
  margin: 0 auto;
}

.navigation {
  &__items {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;
      height: 1px;
      background: $accentColor;
      opacity: 0;
      transition: all .3s ease-in-out;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }

  &__item_active {
    &:before {
      opacity: 1;
    }
  }

  &__item-link, &__item-ico {
    display: block;
  }
}

.avatar {
  &__img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    display: block;
  }
}

.user {
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__avatar {
    margin-right: 15px
  }

  &__name {
    @extend %montserrat-medium
  }
}
