@import 'variables';
@import 'fonts';

* {
  box-sizing: border-box;
}

body {
  background: $primaryBg;
  @extend %montserrat-light;
  color: $accentColor;
  font-size: 16px;
  line-height: 19.5px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  @extend %montserrat-medium;
  margin: 0;
  font-size: 16px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $accentColor;
}

button {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  line-height: 0;
}

input, textarea {
  outline: none;
  border: none;
  resize: none;
  @extend %montserrat-light;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $secondBg;
  border-radius: $radius;
}

::-webkit-scrollbar-thumb {
  background: $thirdBg;
  border-radius: $radius;
}

.app {
  position: relative;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  padding: 0 90px;
  margin: 0 auto;
  position: relative;
}

.avatar {
  &__img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    display: block;
  }

  &_margin-10 {
    margin-right: 10px;
  }

  &_margin-15 {
    margin-right: 15px;
  }
}
