// color spectrum
$primaryBg: #161616;
$secondBg: #1d1d1d;
$thirdBg: #262626;
$fourthBg: #646464;
$accentColor: #ffff;

// font
$primaryFont: 'Montserrat', sans-serif;

// transition
$transitionDefault: all .3s ease-in-out;

