// color spectrum
$primaryBg: #161616;
$secondBg: #1d1d1d;
$thirdBg: #262626;
$fourthBg: #646464;
$accentColor: #ffff;

// shared
$primaryFont: 'Montserrat', sans-serif;
$transitionDefault: all .3s ease-in-out;
$radius: 5px;
