// color spectrum
$primaryBg: #161616;
$secondBg: #1d1d1d;
$thirdBg: #262626;
$fourthBg: #646464;
$greenBg: #6FFFE5;
$purpleBg: #E57DFF;
$yellowBg: #fff962;
$accentColor: #ffffff;


// shared
$primaryFont: 'Montserrat', sans-serif;
$transitionDefault: all .3s ease-in-out;
$radius: 5px;
